.labelnight {
    margin-top: 4em;
    height: 33em;
    width: 100%;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/backbleu.jpg);
    background-size: cover;
    background-position: center;
}

.labelnight .labelnaam {
    margin-top: 0.5em;
    font-family: "RioGrande";
    color: white;
    font-size: 3em;
    width: 100%;
    text-align: center;
    display: block;
}

h2 {
    font-family: "Rockwell Bold";
    font-size: 5em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
}

h3 {
    font-family: "Rockwell";
    font-size: 1.2em;
    text-align: center;
    color: white;
}


.countdownContainer {
  margin-top: 3em;
    font-family: "Rockwell";
    text-align: center;
    padding: 2em;
    color: white;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 80%;
}

.td {
    width: 15%;
}

.number {
    font-size: 5em;
    font-family: "Rockwell";
}

.info {
    font-family: "Roboto";
}

.datum{
  margin-top: 2em;
  font-family: "Rockwell";
  font-variant: small-caps;
  font-size: 2em;
  color: white;
  text-align:center;
  display: block;
}

@media (max-width: 600px) {
  main{
    margin-top: -2em;
  }

  .labelnight .labelnaam{
    margin-top: 2em;
  }

  h2{
    font-size: 1em;
  }

  h3{
    font-size: 0.8em;
  }

  .number{
    font-size: 1.5;
  }

  .datum{
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  .labelnight{
    margin-top: 7.5em;
  }

  .labelnight .labelnaam{
    font-size: 1.75em;
  }

  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1.1em;
  }

  .number{
    font-size: 3em;
  }

  .datum{
    font-size: 1.5em;
  }
}
